<footer>
  <section class="footer_info">
    <div class="footer_info_links">
      <img src="assets/img/logo_footer.svg" alt="logo da AluraGeek em tamanho grande" class="footer_logo" />
      <a class="footer_info_link">Quem somo nós</a>
      <a class="footer_info_link">Política de privacidade</a>
      <a class="footer_info_link">Programa fidelidade</a>
      <a class="footer_info_link">Nossas lojas</a>
      <a class="footer_info_link">Quero ser franqueado</a>
      <a class="footer_info_link">Anuncie aqui</a>
    </div>
    <div class="contato">
      <h1 class="title">Fale conosco</h1>
      <form class="fale_conosco">
        <div class="name_box">
          <label class="name">Nome</label>
          <input type="text" class="footer_name"/>
        </div>
        <div class="text_box">
          <label class="message">Escreva sua mensagem</label>
          <textarea class="footer_message"></textarea>
        </div>
        <button class="footer_button">Enviar mensagem</button>
      </form>
    </div>
  </section>
  <section class="signature">
    <h3 class="auth">Desenvolvido por Daniel Santana</h3>
    <h3 class="auth">2022</h3>
  </section>
</footer>