.footer_info {
  background: #EAF2FD;

}

.footer_info_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 1rem;
}

.footer_logo {
  width: 11rem;
  height: 3.125rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info_link_group {
  display: flex;
  flex-direction: column;
}

.footer_info_link {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #464646;
  margin-bottom: 1rem;
}

.contato {
  margin: 1rem;
  margin-bottom: 0;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #464646;
  margin-bottom: .5rem;
}

.name_box {
  display: flex;
  flex-direction: column;
  width: 20.5rem;
  height: 3.5rem;
  background: #fff;
  margin-bottom: 1rem;
  border-bottom: 1px solid #C8C8C8;
  border-radius: 4px;
}

.name {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
  color: #A2A2A2;
  margin-left: .75rem;
  margin-top: .5rem;
  margin-bottom: .25rem;
}

.footer_name {
  width: 19rem;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  margin-left: .65rem;
  margin-bottom: .4375rem;
}

.text_box {
  width: 20.5rem;
  height: 5.125rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-bottom: 1px solid #C8C8C8;
  margin-bottom: .5rem;
  border-radius: 4px;
}

.message {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  text-decoration: none;
  color: #A2A2A2;
  margin-top: 1rem;
  margin-left: .75rem;
}

.footer_message {
  width: 19rem;
  border: none;
  resize: none;
  margin-left: .65rem;
}

.footer_button {
  width: 9.4375rem;
  height: 2.5rem;
  background: #2A7AE4;
  border: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}

.signature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #464646;
}

@media (min-width: 768px) {
  .footer_group {
    display: flex;
    justify-content: space-between;
  }

  .contato {
    margin: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .footer_info_links {
    align-items: flex-start;
    margin: 2rem;
    margin-top: 2rem;
  }

  .info_link_group {
    align-items: flex-start;
  }

  .footer_logo {
    margin-top: 0;
  }

  .name_box, .text_box {
    width: 27.125rem;
  }

  .footer_name, .footer_message {
    width: 25rem;
  }
}

@media (min-width: 1366px) {
  .footer_info {
    display: block;
  }

  .footer_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer_info_links {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 7rem;
  }

  .footer_info_link {
    margin-bottom: 1.5rem;
  }

  .footer_logo {
    margin: 0;
    margin-right: 7rem;
  }

  .info_link_group {
    align-items: flex-start;
  }

  .contato {
    margin-top: 4rem;
    margin-left: 0;
    margin-right: 0;
  }

  .name_box, .text_box {
    width: 29.3rem;
  }
}