header {
display: flex;
justify-content: space-between;
align-items: center;
margin: 1rem;
}

.logo {
  width: 6.25rem;
  height: 1.75rem;
  margin-right: 2rem;
}

.search_bar {
  width: 17rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  background: #F5F5F5;
  padding: .5rem 1rem;
  border-radius: 20px;
  margin-right: 9rem;
}

.search {
  width: 20rem;
  border: none;
  background: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
  align-items: center;
  color: #A2A2A2;
}

.login {
  width: 8.31rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: .875rem;
  line-height: 1rem;
  background-color: #fff;
  color: #2A7AE4;
  border: 1px solid #2A7AE4;
  padding: .75rem 1rem;
}

.lupa {
  width: 1.065rem;
}

@media (min-width: 768px) {
  .lupa {
    display: none;
  }

  .login {
    width: 10.375rem;
    height: 2.5rem;
    margin: 0 1rem;
  }

  .search_bar {
    display: flex;
  }
}

@media (min-width: 1366px) {
  .logo {
    width: 11rem;
    height: 3.125rem;
    margin-left: 8.5rem;
  }

  .search_bar {
    width: 24.5625rem;
    height: 2.5rem;
    margin-right: 15.5rem;
  }

  .login {
    width: 11.375rem;
    height: 3.1875rem;
    font-size: 1rem;
    line-height: 1.1875rem;
    margin-right: 8.5rem;
  }
}