<app-header></app-header>

<div class="login_box">
  <h1 class="title">Iniciar Sessão</h1>
  <form class="login_form">
    <label for="email"></label>
    <input
      type="email"
      class="login_email"
      id="email"
      placeholder="Escreva seu email"
    />
    <label for="senha"></label>
    <input
      type="password"
      class="login_senha"
      id="senha"
      placeholder="Escreva sua senha"
    />
    <button class="login_button">Entrar</button>
  </form>
</div>
<app-footer></app-footer>
