<section class="starWars_list">
  <div class="starWars_header">
    <h2 class="title">Star Wars</h2>
    <button class="see_all">Ver tudo 🡢</button>
  </div>
  <div class="starWars_main">
    <div class="starWars_product">
      <img
        src="assets/img/caneca.jpg"
        alt="Caneca capacete storm trooper"
        class="starWars_img"
      />
      <p class="description">Caneca Storm trooper</p>
      <p class="price">R$ 60,00</p>
      <a class="single_product">Ver produto</a>
    </div>
    <div class="starWars_product">
      <img
        src="assets/img/vader.jpg"
        alt="Bonecos de lego montados, Darth Vader, Black Storm trooper"
        class="starWars_img"
      />
      <p class="description">Lego Dark side</p>
      <p class="price">R$ 60,00</p>
      <a class="single_product">Ver produto</a>
    </div>
    <div class="starWars_product">
      <img src="assets/img/yoda.jpg" alt="Action Figure Yoda" class="starWars_img" />
      <p class="description">Figure Yoda</p>
      <p class="price">R$ 60,00</p>
      <a class="single_product">Ver produto</a>
    </div>
    <div class="starWars_product">
      <img src="assets/img/trooper.jpg" alt="Action Figure Storm trooper" class="starWars_img" />
      <p class="description">Figure Storm trooper</p>
      <p class="price">R$ 60,00</p>
      <a class="single_product">Ver produto</a>
    </div>
  </div>
</section>
