<section class="starWars_list">
  <div class="starWars_header">
    <h2 class="title">Star Wars</h2>
    <button class="see_all">
      <p>Ver tudo</p>
      <span class="arrow">🡢</span>
    </button>
  </div>
  <div class="starWars_main">
    <div class="starWars_product" *ngFor="let product of products">
      <img
        [src]="product.image"
        alt="Caneca capacete storm trooper"
        class="starWars_img"
      />
      <p class="product_title">{{ product.title }}</p>
      <p class="price">{{ product.price }}</p>
      <a class="single_product">Ver produto</a>
    </div>
  </div>
</section>
