<section class="consoles_list">
  <div class="consoles_header">
    <h2 class="title">Consoles</h2>
    <button class="see_all">Ver tudo 🡢</button>
  </div>
  <div class="consoles_main">
    <div class="consoles_product" *ngFor="let product of products">
      <img
        [src]="product.image"
        alt="Imagem de um controle Xbox series"
        class="consoles_img"
      />
      <p class="product_title">{{ product.title }}</p>
      <p class="price">{{ product.price }}</p>
      <a class="single_product">Ver produto</a>
    </div>
  </div>
</section>
