<section class="diversos_list">
  <div class="diversos_header">
    <h2 class="title">Diversos</h2>
    <button class="see_all">Ver tudo 🡢</button>
  </div>
  <div class="diversos_main">
    <div class="diversos_product" *ngFor="let product of products">
      <img
        [src]="product.image"
        alt="Imagem de uma camiseta com o simbulo da atari"
        class="diversos_img"
      />
      <p class="product_title">{{ product.title }}</p>
      <p class="price">{{ product.price }}</p>
      <a class="single_product">Ver produto</a>
    </div>
  </div>
</section>
